@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
}
body{
  background-color: #242424;
}
.transcription-container{
  overflow: hidden;
}
